:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  body{
    background-color: #102B36;
  }

.card-body{
  margin-left: 25%;
  width: 50%;
  margin-top: 10%;
}

@media screen and (max-width: 780px){
  .card-body {
    width: 50%!important;
  }
}